.contact {
  background-color: rgb(18, 18, 18);
  color: white;
  font-weight: 100;
}

.contact .page-section-inner {
  min-height: 80vh;
  padding: 200px 100px 0px 100px;
  position: relative;
}

.contact a {
  color: #f1bd81;
  text-decoration: none;
  transition: border-bottom 1s;
  -webkit-transform: border-bottom 1s;
}

.contact a:hover {
  border-bottom: 2px solid;
}

.contact .page-section-image {
  background-image: url("../img/portrait-bw.jpg");
  background-size: cover;
  opacity: 0.9;
  width: 400px;
  height: 500px;
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 15%;
}

.contact .page-section-text {
  max-width: 600px;
}

@media screen and (max-width: 500px) {
  .contact .page-section-inner {
    padding: 140px 30px 0px 30px;
    min-height: 70vh;
    font-weight: 300;
  }
}
