.page-section {
  min-height: 100vh;
  color: white;
  font-weight: 100;
}

.page-section-inner {
  padding: 200px 100px 0px 100px;
  position: relative;
}

.company-list {
  position: absolute;
  float: right;
  right: 10%;
  list-style-type: none;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: 1.5px;
}

.company-list li {
  list-style: none;
  transition: transform 1s;
}

.company-list li::before {
  content: '// ';
}

.company-list li:hover {
  cursor: pointer;
  transform: translateX(20px);
}

.company {
  width: 55%;
  display: none;
}

.company .is-selected {
  display: block;
}

.company-title {
  font-size: 18px;
  text-transform: uppercase;
}

.company-position {
  font-size: 18px;
}

.company-description {
  font-size: 16px;
  line-height: 30px;
}

@media screen and (max-width: 500px) {
  .company-list {
    position: relative;
    width: 100%;
  }

  .company-list li {
    font-size: 20px;
    line-height: 38px
  }

  .page-section-inner {
    padding: 15% 10%;
  }

  .company-title {
    font-size: 16px;
  }

  .company {
    width: 100%;
  }

  .company-position {
    font-size: 16px;
  }

  .company-description {
    font-size: 14px;
    line-height: 24px;
  }

  .page-section {
    font-weight: 300;
  }
}
