.project-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 15%;
}

.project {
  max-width: 40%;
  margin: 5%;
}

.project img {
  max-width: 100%;
}

.project-title {
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  letter-spacing: 1.3px;
}

.project a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
  transition: opacity .5s;
}

.project a:hover {
  opacity: 0.5;
  color: grey;
}

.project-slider-wrap {
  padding-top: 15vh;
  height: 85vh;
  position: relative;
}

.project-slide-counter {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: none;
}

.project-slide-counter .show {
  display: block;
}

.flickity-viewport {
  height: 100%;
}

.flickity-slider {
  height: 100%;
  width: 100%;
}

.project-slide {
  padding: 50px 150px 100px 150px;
  width: 100%;
  height: 100%;
  left: 0%;
  box-sizing: border-box;
}

.project-slide-content {
  max-width: 80%;
  margin: auto;
  box-sizing: border-box;
}

.project-description {
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 30px;
  text-align: center;
  padding-top: 80px;
  max-width: 500px;
  margin: auto;
}

.project-description .project-title {
  font-size: 16px;
  padding-bottom: 30px;
}

.project-slide-content {
  text-align: center;
}

.project-slide-content img {
  width: 100%;
  margin: auto;
}

.project-slide-caption {
  text-align: center;
  font-size: 14px;
  color: grey;
  line-height: 40px;
  letter-spacing: 1.1px;
}

.flickity-slider .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  transition: transform 1s;
}

.flickity-slider .flickity-prev-next-button:focus,
.flickity-slider .flickity-prev-next-button:active {
  background: transparent;
}

.flickity-slider .flickity-prev-next-button:disabled {
  display: none;
}

.flickity-slider .flickity-prev-next-button:hover {
  opacity: 0.5;
}

.swipe {
  display: none;
}

#bruinnav-image img {
  max-width: 50%;
}

#bugs-video video {
  max-width: 60%;
  margin: auto;
}

#chatcat-image img {
  max-width: 70%;
}

#electric-image img {
  max-width: 50%;
  opacity: 0.8;
  margin-top: 70px;
}

#pitch-video video {
  max-width: 30%;
  margin: auto;
  box-shadow: 5px 0px 20px lightgrey;
}

@media screen and (max-width: 500px) {
  .project-title {
    font-size: 16px;
    padding-top: 10px;
  }

  .project-wrap {
    padding: 80px 12px 50px 12px;
  }

  .project {
    max-width: 100%;
    margin: 20px 10px 20px 10px;
  }

  .project-slide {
    padding: 10px;
  }

  .project-slide-content {
    max-width: 90%;
  }

  .project-description {
    padding-top: 70px;
    font-size: 13px;
    line-height: 22px;
  }

  .has-image {
    padding-top: 25%;
  }

  .has-image img {
    max-width: 100%;
  }

  .project-slide-caption {
    font-size: 12px;
    padding: 0 40px;
    line-height: 20px;
  }

  .flickity-slider .flickity-prev-next-button {
    display: none;
  }

  .swipe {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 30px;
    opacity: 0.7;
    -moz-animation: slide 1s linear infinite;
     -webkit-animation: slide 1s linear infinite;
     animation: slide 1s linear infinite;
  }

  @-moz-keyframes slide {
   0%   { -moz-transform: translateX(0%); }
   50%   { -moz-transform: translateX(5%); }
   100% { -moz-transform: translateX(0%); }
  }
  @-webkit-keyframes slide {
   0%   { -webkit-transform: translateX(0%); }
   50%   { -webkit-transform: translateX(5%); }
   100% { -webkit-transform: translateX(0%); }
  }
  @keyframes slide {
   0%   {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
   50%   {
   -moz-transform: translateX(5%); /* Firefox bug fix */
   -webkit-transform: translateX(5%); /* Firefox bug fix */
   transform: translateX(5%);
   }
   100% {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
  }

  #bruinnav-image {
    padding-top: 80px;
  }

  #bruinnav-image img {
    max-width: 100%;
  }

  #bugs-video video {
    max-width: 100%;
  }

  #bugs-video {
    padding-top: 80px;
  }

  #chatcat-image img {
    max-width: 100%;
  }

  #electric-image img {
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 80%;
  }

  #pitch-video video {
    max-width: 60%;
    margin: auto;
    box-shadow: 5px 0px 20px lightgrey;
  }
}
