body {
  font-family: 'Roboto', monospace;
  font-weight: 300;
  /*background-color: rgb(18, 18, 18);*/
  /*color: #fff;*/
  margin: 0;
  cursor: crosshair;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

.white {
  background-color: white;
}

.black {
  background-color: rgb(18,18,18);
}

.grey {
  background-color: #fcfafa;
}

.white-text {
  color: white;
}

.page-section-text {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 500px) {
  .page-section-text {
    font-size: 20px;
    line-height: 34px;
  }
}
