body 
{
	display: block;
	font-family: Helvetica, Sans-Serif;
	font-size: 1.2em;
}

#initial
{
	background-image: url("Images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	justify-content: center;
	position: flex;
	text-align: center;
	align-items: center;
}

.signature
{
	width: 300px;
	margin-bottom: 20px;
	-webkit-animation: fadein 3s;
	animation: fadein 3s;
}

@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadein
{
	from {opacity: 0;}
	to {opacity: 1;}
}

.signature-text
{
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: 3px;
	-webkit-animation: typing 5s steps(100, end);
	animation: typing 5s steps(100, end);
}

@-webkit-keyframes typing
{
	from {width: 0;}
	to {width: 100%;}
}

@keyframes typing
{
	from {width: 0;}
	to {width: 100%;}
}

#about
{
	padding: 50px; 
}

.animate {
	transition: 2s ease-in-out;
	-webkit-transition: 2s ease-in-out;
}

#about-portrait .animate
{
	transform: translate(5em, 0);
	-webkit-transform: translate(5em, 0);
}

#about p
{
	font-size: 16px;
	font-weight: 200;
}

#about span
{
	font-weight: 400;
}

#about-portrait
{
	text-align: center;
	padding-bottom: 20px;
}

#skills
{
	padding: 50px;
}

#skills ul
{
	padding: 0;
}

#skills .heading {
	text-align: center;
}

#skills .title
{
	margin-bottom: 20px;
}

#skills .skills-list
{
	padding-bottom: 30px;
}

#skills .skill-title
{
	font-size: 1.2em;
	font-weight: 200;
}

#skills .rating
{
	float: right;
	position: relative;
	display: inline-block;
}
#experience
{
	background-color: #fff;
	padding: 50px;
}

#experience .heading {
	text-align: center;
}

#experience .exp-description
{
	padding: 0;
}

#experience .exp-row
{
	padding-bottom: 30px;
}

#experience p
{
	font-size: 16px;
	font-weight: 200;
}

.title
{
	font-size: 1.3em;
	font-weight: 400;
}

#experience .container img
{
	float: center;
	width: 120px;
	padding-bottom: 50px;
}

#experience .row
{
	padding: 10px;
}

#education
{
	padding: 50px;
	background-color: #f9f9f9;
}

#education p
{
	font-weight: 200;
	font-size: 1.1em;
}

#courses
{
	padding: 50px;
}

.heading
{
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 20px;
	letter-spacing: 1px;
	letter-spacing: 2px;
}

.description p
{
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
}

.description 
{
	padding-bottom: 40px;
	font-weight: 200;
}

#courses .description img
{
	float: center;
	padding: 5px;
	max-width: 120px;
	border: 1px solid black;
	margin: auto;
	margin-bottom: 30px;
}

#projects .description img
{
	float: center;
	padding: 5px;
	max-width: 120px;
	border: 1px solid black;
	margin: auto;
	margin-bottom: 30px;
}

#projects
{
	padding: 50px;
}

#projects p
{
	font-size: 1.2em;
}

#projects .description
{
	text-align: left;
}

#projects #text
{
	font-size: 1.1em;
	text-align: left;
}

#contact
{
	background-size: cover;
	background-image: url("Images/background.jpg");
	background-attachment: fixed;
}

#resume
{
	background-color: white;
}

#contact .heading
{
	font-weight: 300;
}

.contact-icons
{
	align-items: center;
	text-align: center;
}

.contact-icons img
{
	width: 30px;
	margin: 0px 10px;
}

.contact-icons img:hover
{
	opacity: 0.6;
}