<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karen Fann | Chat Cat</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/projects.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="../js/header.js"></script>
  <script type='text/javascript' src="../js/projects-slide.js"></script>
</head>

<body>
  <div id="header">
    <header class="header">
      <div class="header-strip black"></div>
      <div class="header-wrap">
        <button class="header-button section-button projects-button"><a href="./projects.html"><img src="../img/light-bulb.svg" alt=""></a></button>
        <button class="header-button nav-button">•••</button>
        <button class="header-button close-button" style="display: none;">✕</button>
        <span class="brand"><a href="../index.html">KAREN FANN</a></span>
      </div>
    </header>
    <div class="menu-layer" style="display: none">
      <div class="nav-panel">
        <div class="nav-wrap">
          <nav class="nav">
            <div class="nav-item"><a href="../index">/ ABOUT</a></div>
            <div class="nav-item"><a href="./education">/ EDUCATION</a></div>
            <div class="nav-item"><a href="./experience">/ EXPERIENCE</a></div>
            <div class="nav-item"><a href="./projects">/ PROJECTS</a></div>
            <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
            <div class="nav-item"><a href="./contact">/ CONTACT</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section class="project-slider-wrap">
    <div class="project-slide-counter">
      Chat Cat <span></span>
    </div>
    <div class="flickity-viewport">
      <div class="flickity-slider">
        <div class="project-slide" data-id="0">
          <div class="project-slide-content">
            <div class="project-description">
              <div class="project-title">
                Chat Cat
              </div>
              Chat Cat is a chat application I built using Node.js, socket.io, passport.js and express.js. Users can log into the app through an existing Facebook/Twitter account, create/join chat rooms and send/read messages and pictures.
            </div>
            <div class="swipe">
              Swipe to view more >
            </div>
          </div>
        </div>
        <div class="project-slide has-image" data-id="1" id="chatcat-image">
          <div class="project-slide-content">
            <img src="../img/chatcat-example.png" alt="">
          </div>
          <div class="project-slide-caption">
            Chat Cat in action
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>
