<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karen Fann | Education</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/education.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="../js/header.js"></script>
  <script type='text/javascript' src="../js/education.js"></script>
</head>

<body>
  <div id="header">
    <header class="header">
      <div class="header-strip is-inverted"></div>
      <div class="header-wrap">
        <button class="header-button section-button education-button"><img src="../img/mortarboard.svg" alt="" style="width: 30px; height: 30px;"></button>
        <button class="header-button nav-button">•••</button>
        <button class="header-button close-button" style="display: none;">✕</button>
        <span class="brand"><a href="./index.html">KAREN FANN</a></span>
      </div>
    </header>
    <div class="menu-layer" style="display: none">
      <div class="nav-panel">
        <div class="nav-wrap">
          <nav class="nav">
            <div class="nav-item"><a href="./index.html">/ ABOUT</a></div>
            <div class="nav-item"><a href="./education.html">/ EDUCATION</a></div>
            <div class="nav-item"><a href="./experience.html">/ EXPERIENCE</a></div>
            <div class="nav-item"><a href="./projects.html">/ PROJECTS</a></div>
            <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
            <div class="nav-item"><a href="./contact.html">/ CONTACT</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section class="page-section education">
    <div class="page-section-inner">
      <div class="page-section-text">
        I am currently a sophomore pursuing a degree in Computer Science and Engineering at the <span>University of California, Los Angeles.</span><br /><br /> I began my studies in September 2016 and plan to graduate in June 2020.<br /><br /> Until then, my grand master plan is to gobble up as much
        information as I possibly can.
      </div>
    </div>
  </section>
  <section class="timeline grey">
    <div class="timeline-title">
      coursework
    </div>
    <ul>
      <li>
        <div class="course-wrap">
          <time>FALL 2017</time>
          <div class="course-title">
            Software Construction Laboratory
          </div>
          <i class="course-language">C</i>
          <div class="course-description">
            fundamentals of commonly-used software tools and environments, open-source tools
          </div>
        </div>
      </li>
      <li>
        <div class="course-wrap">
          <time>SPRING 2017</time>
          <div class="course-title">Introduction to Computer Organization</div>
          <i class="course-language">C</i>
          <div class="course-description">
            operating system fundamentals, number systems, machine/assembly language, procedure calls
          </div>
        </div>
      </li>
      <li>
        <div class="course-wrap">
          <time>WINTER 2017</time>
          <div class="course-title">Introduction to Computer Science II</div>
          <i class="course-language">C++</i>
          <div class="course-description">
            object-oriented software development and view of data structures, generic programming, algorithm analysis
          </div>
        </div>
      </li>
      <li>
        <div class="course-wrap">
          <time>FALL 2016</time>
          <div class="course-title">Introduction to Computer Science I</div>
          <i class="course-language">C++</i>
          <div class="course-description">
            procedural and data abstraction, object-oriented programming, abstract data types
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section>
    <footer>
      <div class="footer-wrap">
        <div class="footer-brand">
          KF
        </div>
      </div>
    </footer>
  </section>
</body>

</html>
