<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/experience.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="../js/header.js"></script>
  <title>Karen Fann | Contact</title>
</head>

<body>
  <div id="header">
    <header class="header is-inverted">
      <div class="header-strip"></div>
      <div class="header-wrap">
        <button class="header-button section-button contact-button"><img src="../img/briefcase-white.svg" alt=""></button>
        <button class="header-button nav-button">•••</button>
        <button class="header-button close-button" style="display: none;">✕</button>
        <span class="brand"><a href="./index.html">KAREN FANN</a></span>
      </div>
    </header>
    <div class="menu-layer" style="display: none">
      <div class="nav-panel">
        <div class="nav-wrap">
          <nav class="nav">
            <div class="nav-item"><a href="./index.html">/ ABOUT</a></div>
            <div class="nav-item"><a href="./education.html">/ EDUCATION</a></div>
            <div class="nav-item"><a href="./experience.html">/ EXPERIENCE</a></div>
            <div class="nav-item"><a href="./projects.html">/ PROJECTS</a></div>
            <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
            <div class="nav-item"><a href="./contact.html">/ CONTACT</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.nav-button').on("click", function() {
      $('.header').removeClass('is-inverted')
    })
    $('.close-button').on("click", function() {
      $('.header').addClass('is-inverted');
    })
  </script>
  <section class="page-section experience black">
    <div class="page-section-inner">
      <div class="company-list">
        <ul>
          <li data-id="responsetwo">Response Two</li>
          <li data-id="bruinmeet">Bruin Meet</li>
          <li data-id="devx">UCLA DevX</li>
          <li data-id="dfa">Design for America</li>
          <li data-id="tcs">The Coding School</li>
        </ul>
      </div>
      <div class="page-section-text">
        <div class="company" id="responsetwo">
          <div class="company-title">
            Response Two
          </div>
          <i class="company-position">
            Software Developer Intern
          </i>
          <div class="company-description">
            In the summer of 2017, I began working at Response Two, a start-up document analysis platform that allows anyone to create their own, private search-engine on any set of scanned documents.<br />The next twelve weeks proved to be an invaluable experience. As an intern at a start-up, I held
            a tremendous amount of responsibility over the app and developed skills across the spectrum.<br />I built a cross-platform desktop app using Electron, created request handlers with Node.js, wrote MySQL queries to update user information, implemented various UI changes including a dynamic
            file list and document viewer using Angular.js and plenty more.
          </div>
        </div>
        <div class="company" id="bruinmeet">
          <div class="company-title">
            Bruin Meet
          </div>
          <i class="company-position">
            Front End Developer and Designer
          </i>
          <div class="company-description">
            In April 2017, I joined a team of other developers and together we set out to create a dating app specifically for UCLA students. After four intense weeks of hacking and coding, we launched Bruin Meet as UCLA's exclusive matchmaking app and it has been live ever since.<br />As front end developer
            and designer, I am in charge of designing and developing the UI/UX of Bruin Meet. Much of what I do involves working heavily with HTML/CSS and jQuery for design and dynamics, Bootstrap and media queries for responsiveness and Handlebars for back end integration.
          </div>
        </div>
        <div class="company" id="devx">
          <div class="company-title">
            UCLA DevX
          </div>
          <i class="company-position">
            Developer and Finance Officer
          </i>
          <div class="company-description">
            DevX is a newly founded organization dedicated to innovating technological solutions to common issues faced by students at UCLA.<br />I will work to establish and controll all finance and accounting systems. In collaboration with the External chair, I will also work to organize and obtain
            external corporate sponsorship.
          </div>
        </div>
        <div class="company" id="dfa">
          <div class="company-title">
            Design for America
          </div>
          <i class="company-position">
            Tech Director
          </i>
          <div class="company-description">
            Design for America is a new organization on campus that tackles social challenges in and around UCLA and the Greater Los Angeles area through design thinking.<br />As Tech Director, I offer technical support and insight to interdisciplinary teams as they leverage the human-centered design
            process to address real-world issues.<br />I also develop and maintain the website for Design for America at UCLA.
          </div>
        </div>
        <div class="company" id="tcs">
          <div class="company-title">
            The Coding School
          </div>
          <i class="company-position">
            Programming Instructor
          </i>
          <div class="company-description">
            The Coding School is a nonprofit organization that aims to empower the next generation through computer science education.<br />During winter 2017, I led a weekly programming class of approximately 15 students at Culver City Middle School. There I taught a Unity 3D Game Development curriculum
            and basic programming concepts in Javascript.
          </div>
        </div>
      </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#responsetwo').show().addClass('is-selected');
      $('.company-list li').on("click", function() {
        var company = '#' + $(this).data("id");
        $('.is-selected').hide();
        $(company).show().addClass('is-selected');
      })
    })
  </script>
  <section>
    <footer>
      <div class="footer-wrap">
        <div class="footer-brand">
          KF
        </div>
      </div>
    </footer>
  </section>
</body>

</html>
