<header class="header">
  <div class="header-strip black"></div>
  <div class="header-wrap">
    <button class="header-button section-button about-button"><img src="../img/smile.svg" alt=""></button>
    <button class="header-button section-button skills-button" style="display: none"><img src="../img/terminal.svg" alt=""></button>
    <button class="header-button section-button contact-button" style="display: none"><img src="../img/email.svg" alt=""></button>
    <button class="header-button section-button career-button" style="display: none"><img src="../img/briefcase.svg" alt=""></button>
    <button class="header-button section-button projects-button" style="display: none"><img src="../img/light-bulb.svg" alt=""></button>
    <button class="header-button nav-button">•••</button>
    <button class="header-button close-button" style="display: none;">✕</button>
    <span class="brand"><a href="./index.html">KAREN FANN</a></span>
  </div>
</header>
<div class="menu-layer" style="display: none">
  <div class="nav-panel">
    <div class="nav-wrap">
      <nav class="nav">
        <div class="nav-item"><a href="./index.html">/ ABOUT</a></div>
        <div class="nav-item"><a href="./education.html">/ EDUCATION</a></div>
        <div class="nav-item"><a href="./experience.html">/ EXPERIENCE</a></div>
        <div class="nav-item"><a href="./projects.html">/ PROJECTS</a></div>
        <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
        <div class="nav-item"><a href="./contact.html">/ CONTACT</a></div>
      </nav>
    </div>
  </div>
</div>
