<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karen Fann | Pitch Perfect</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/projects.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="../js/header.js"></script>
  <script type='text/javascript' src="../js/projects-slide.js"></script>
</head>

<body>
  <div id="header">
    <header class="header">
      <div class="header-strip black"></div>
      <div class="header-wrap">
        <button class="header-button section-button projects-button"><a href="./projects.html"><img src="../img/light-bulb.svg" alt=""></a></button>
        <button class="header-button nav-button">•••</button>
        <button class="header-button close-button" style="display: none;">✕</button>
        <span class="brand"><a href="../index.html">KAREN FANN</a></span>
      </div>
    </header>
    <div class="menu-layer" style="display: none">
      <div class="nav-panel">
        <div class="nav-wrap">
          <nav class="nav">
            <div class="nav-item"><a href="../index.html">/ ABOUT</a></div>
            <div class="nav-item"><a href="./education.html">/ EDUCATION</a></div>
            <div class="nav-item"><a href="./experience.html">/ EXPERIENCE</a></div>
            <div class="nav-item"><a href="./projects.html">/ PROJECTS</a></div>
            <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
            <div class="nav-item"><a href="./contact.html">/ CONTACT</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section class="project-slider-wrap">
    <div class="project-slide-counter">
      Pitch Perfect <span></span>
    </div>
    <div class="flickity-viewport">
      <div class="flickity-slider">
        <div class="project-slide" data-id="0">
          <div class="project-slide-content">
            <div class="project-description">
              <div class="project-title">
                Pitch Perfect
              </div>
              Pitch Perfect is an iOS app that allows users to record themselves and play the audio back with various effects: slow, fast, high pitch, low pitch, echo, and reverb. In the development of this app, I learned Swift on XCode, navigation controlling, IBOutlets, and IBActions. </div>
          </div>
        </div>
        <div class="project-slide" data-id="1">
          <div class="project-slide-content">
            <video src="../img/pitchperfect.mov" style="max-width: 30%; margin: auto; box-shadow: 5px 0px 20px lightgrey"></video>
          </div>
          <div class="project-slide-caption">
            Pitch Perfect simulation
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>
