<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karen Fann | Projects</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/projects.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="../js/header.js"></script>
  <script type='text/javascript' src="../js/projects.js"></script>
</head>

<body>
  <div id="header">
    <header class="header">
      <div class="header-strip black"></div>
      <div class="header-wrap">
        <button class="header-button section-button projects-button"><a href="./projects.html"><img src="../img/light-bulb.svg" alt=""></a></button>
        <button class="header-button nav-button">•••</button>
        <button class="header-button close-button" style="display: none;">✕</button>
        <span class="brand"><a href="./index.html">KAREN FANN</a></span>
      </div>
    </header>
    <div class="menu-layer" style="display: none">
      <div class="nav-panel">
        <div class="nav-wrap">
          <nav class="nav">
            <div class="nav-item"><a href="./index.html">/ ABOUT</a></div>
            <div class="nav-item"><a href="./education.html">/ EDUCATION</a></div>
            <div class="nav-item"><a href="./experience.html">/ EXPERIENCE</a></div>
            <div class="nav-item"><a href="./projects.html">/ PROJECTS</a></div>
            <div class="nav-item"><a href="../resume.pdf">/ RESUME</a></div>
            <div class="nav-item"><a href="./contact.html">/ CONTACT</a></div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <section class="projects grey">
    <div class="project-wrap">
      <div class="project">
        <a href="./bruinmeet.html">
          <img src="../img/bm-dating.svg" alt="">
          <div class="project-title">Bruin Meet</div>
          </a>
      </div>
      <div class="project">
        <a href="./chatcat.html">
          <img src="../img/chatcat.svg" alt="">
          <div class="project-title">ChatCAT</div>
        </a>
      </div>
      <div class="project">
        <a href="./bruinnav.html">
          <img src="../img/map.svg" alt="">
          <div class="project-title">Bruin Navigation</div>
          </a>
      </div>
      <div class="project">
        <a href="./bugs.html">
          <img src="../img/bugs.svg" alt="">
          <div class="project-title">Bugs!</div>
        </a>
      </div>
      <div class="project">
        <a href="./electric.html">
          <img src="../img/electric.svg" alt="">
          <div class="project-title">Electric Vehicle</div>
        </a>
      </div>
      <div class="project">
        <a href="./pitch.html">
          <img src="../img/pitch.svg" alt="">
          <div class="project-title">Pitch Perfect</div>
          </a>
      </div>
    </div>
  </section>
  <section>
    <footer>
      <div class="footer-wrap">
        <div class="footer-brand">
          KF
        </div>
      </div>
    </footer>
  </section>
</body>

</html>
